extends layout

block content
  h1 GitHub Exchange
  p Exchange GitHub OAuth codes for tokens

  h2 Authentication
  p All routes support bearer tokens for authentication, of the form 
    code Bearer {token}

  h2
    code GET /api/apps

  p List all client IDs associated with the authenticated user

  h3 Response

  pre
    | [
    |   "aaabbbcccdddeeefffff"
    | ]

  h2
    code GET /api/apps/:client_id/token

  p Exchange an OAuth code for an access token associated with the given client ID

  h3 Parameters

  table
    thead
      tr
        th Name
        th Type
        th Description
    tbody
      tr
        td
          code code
        td
          code string
        td The OAuth code returned as part of the GitHub OAuth flow

  h3 Response

  pre
    | {
    |   "access_token": "11111aaaaa22222bbbbb33333ccccc44444ddddd",
    |   "token_type": "bearer",
    |   "scope": "read:user,repo"
    | }

  h2
    code POST /api/apps

  p Register a new client ID and client secret pair, and receive a token for editing later. If the user is authenticated, this registration will be associated with the passed token. Otherwise, a new token will be returned.
  p Note: once a client secret is registered, it cannot be retrieved again.

  h3 Parameters

  table
    thead
      tr
        th Name
        th Type
        th Description
    tbody
      tr
        td
          code client_id
        td
          code string
        td The client ID associated with the app
      tr
        td
          code client_secret
        td
          code string
        td The client secret associated with the app

  h4 Example
  pre
    | {
    |   "client_id": "aaabbbcccdddeeefffff",
    |   "client_secret": "11111aaaaa22222bbbbb33333ccccc44444ddddd"
    | }

  h3 Response

  pre
    | {
    |   "token": "bearer-token",
    |   "client_id": "aaabbbcccdddeeefffff"
    | }

  h2
    code PUT /api/apps/:client_id

  p Update an existing client secret for the specified client ID belonging to the authenticated user

  h3 Parameters

  table
    thead
      tr
        th Name
        th Type
        th Description
    tbody
      tr
        td
          code client_id
        td
          code string
        td The client ID associated with the app
      tr
        td
          code client_secret
        td
          code string
        td The client secret associated with the app

  h4 Example
  pre
    | {
    |   "client_secret": "11111aaaaa22222bbbbb33333ccccc44444ddddd"
    | }

  h3 Response

  pre
    | {
    |   "client_id": "aaabbbcccdddeeefffff"
    | }

  h2
    code DELETE /api/apps/:client_id

  p Delete an existing client ID and client secret pair belonging to the authenticated user

  h3 Parameters

  table
    thead
      tr
        th Name
        th Type
        th Description
    tbody
      tr
        td
          code client_id
        td
          code string
        td The client ID associated with the app

  h3 Response

  pre 200 OK
